main:after{
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background:  linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: -1;
}
body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}
.conteudo{
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    justify-content: space-evenly; /*Centralizando o menu lateral verticalmente por causa do flex-direction column*/ 
}
.informacoes .logo{
    max-width: 350px;
    filter: invert(1); /* Deixa o logo branco */
    margin-bottom: 80px;
}
.informacoes .descricao{
    width: 49%;
    font-size: 24px;
    color: white;
    line-height: 30px;
}
.botoes-carrossel{
    display: flex;
    justify-content: center;
    gap: 20px;  /*Espaçamento dos botoes*/
}
.botoes-carrossel .botao{
    background-color: white;
    width: 15px;
    height: 15px;
    border: 2px solid transparent;
    border-radius: 50%; 
    border-color: white;
    cursor: pointer;   
}
.botoes-carrossel .botao.selecionado{
    background-color: #1d8346;
}
.menu-lateral{
    position: fixed;
    top: 0;
    right: 0;
    width: 80px; /*So aparece quando define a largura*/
    display: flex;
    justify-content: center; /*Centralizando o menu lateral horizontalmente por causa do flex-direction rown (que é padrão)*/
    align-items: center; /*Centraliza verticalmente*/
    min-height: 100vh;
}
.menu-lateral ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu-lateral .icone{
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}
.menu-lateral .icone:hover{
    transform: scale(1.2); /*Aumenta um cadin o tamanho do icone*/
}

.carrosel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /*Joga pra camada de baixo*/
}
.carrosel .imagem{
    width: 100%;
    height: 100vh;
    object-fit: cover; /*Deixa a imagem full screen sem distorcer ela, parecido com aquela propriedade de background-size*/
    display: none;
    animation: mudarImagem 0.7s; /*Criando animação*/
}
.carrosel .imagem.ativa{
    display: block;    
}

@keyframes mudarImagem{
    from{
        opacity: 0.85;
    }
    to{
        opacity: 1;
    }
}